#login {
  #login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  mat-card {
    background-color: #EFF2F2;
    width: 100%;
  }

  mat-card-footer {
    display: inline-block;
    margin: 10px;
  }
}
